{% extends 'base.html' %}

{% block title %}
Edit
{% endblock %}

{% block content-title %}
<div class="mtitle">
    <h2>Edit</h2>
</div>
{% endblock %}

{% block contents %}
<div class="form-edit"  id="myFormEdit">
    <form method="POST" class="form-container">
        {% csrf_token %}
        <h1>Edit</h1>
        
        
        
        <label for="email"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="nameEdit" required>
        
        <label for="address"><b>Address</b></label>
        <input type="text" placeholder="Enter Address" name="address" required>
        
        <label for="contact"><b>Contact</b></label>
        <input type="text" placeholder="Enter Contact" name="contact" required>
        
        <button type="submit" class="btn">Edit</button>
        <button type="button" class="btn cancel" onclick="closeFormEdit()">Cancel</button>
    </form>
</div>
</div> 
{% endblock  %}