{% extends 'base.html' %}

{% block title %}
Teachers
{% endblock %}

{% block content-title %}
<div class="mtitle">
    <h2>Teachers</h2>
</div>
{% endblock %}

{% block add-members %}

<button class="open-button" onclick="openForm()">Add Members</button>

<div class="form-popup" id="myFormAdd">
  <form method="POST" class="form-container">
    {% csrf_token %}
    <h1>Add</h1>

    <label for="email"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="nameAdd" required>

    <label for="address"><b>Address</b></label>
    <input type="text" placeholder="Enter Address" name="address" required>

    <label for="contact"><b>Contact</b></label>
    <input type="text" placeholder="Enter Contact" name="contact" required>

    <button type="submit" class="btn">Add</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
  </form>
</div>

{% endblock %}

{% block contents %}
<table>

    <tr>
        <th>Name</th>
        <!-- <th>Contact</th> -->
        <th>Address</th>
        <th>Contact</th>
        <th>Controls</th>

    </tr>
    {% for res in result %}
 
    <tr>
        <td> {{ res.1 }} </td>
        <td> {{ res.2 }} </td>
        <!-- <td> {{ res.2 }} </td> -->
        <td> {{ res.3 }} </td>
        <td>
            <div name=" {{ res.0 }} ">

                <button class="open-buttonEdit" id="{{ res.0 }}"  onclick="openFormEdit(this.id)"  >Edit</button>

                <!-- <div class="form-popup"  id="myFormEdit">
                    <form method="POST" class="form-container">
                        {% csrf_token %}
                        <h1>Edit</h1>
                        


                        <label for="email"><b>Name</b></label>
                        <input type="text" placeholder="Enter Name" name="nameEdit" required>

                        <label for="address"><b>Address</b></label>
                        <input type="text" placeholder="Enter Address" name="address" required>

                        <label for="contact"><b>Contact</b></label>
                        <input type="text" placeholder="Enter Contact" name="contact" required>

                        <button type="submit" class="btn" name="{{ count }}" id=" {{ res.0 }} " onclick="sendData(this.id,this.name) ">Edit</button>
                        <button type="button" class="btn cancel" onclick="closeFormEdit()">Cancel</button>
                    </form>
                </div>
            </div> -->
        </td>
        
        {% endfor %}
</table>
{% endblock %}